<div class="test">
    <div class="row mb-4">
        <div class="col-md">
            <h1 class="h2 border-left pl-2"> FINANCIAMENTO APROVADO</h1>
        </div>
    </div>
    <div>
        <ul>
            <li>Taxa de 7,5% ao ano;</li>
            <li> Parcela inicial de : R$ {{valorInicialParcela}} ;</li>
            <li>Valor total aprovado : R$ {{valorTotalFinanciado}} ;</li>
            <li>Seguro Só Vamu Security;</li>
            <li>Desconto na primeira e na última parcela;</li>
        </ul>
    </div>
    <div class="col-5">
        <button routerLink="/home" class="btn btn-warning">Voltar para tela incial</button>
    </div>
</div>