<div class="test">
    <div class="row mb-4">
        <div class="col-md">
            <h1 class="h2 border-left pl-2"> FINANCIAMENTO NEGADO</h1>
        </div>
    </div>

    <div>
        <h3 class="motivo">Motivo: Valor da parcela acima dos 30% da renda mensal!</h3>
    </div>

    <div>
        <p>Infelizmente não foi possivel aprovar seu financiamento.<br> Não desanime,reunimos algumas dicas que podem te ajudar na sua próxima simulação:</p>
    </div>

    <div>
        <ul>
            <li>Mantenha seu CPF em dia e sem restrições;</li>
            <li>Mantenha seus dados cadastrais sempre atualizados;</li>
            <li>Melhore seu relacionamento com o banco, movimentando sua conta;</li>
        </ul>
    </div>

    <div class="col-5">
        <button routerLink="/home" class="btn btn-warning">Voltar para tela incial</button>
    </div>
</div>